* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #1e88e5;
  padding: 0 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}

.login-signup {
  font-size: 14px;
  color: #fff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.left-panel {
  flex-basis: 200px;
}

.middle-panel {
  flex-basis: calc(100% - 400px);
  text-align: center;
}

.right-panel {
  flex-basis: 200px;
}

.info,  .settings {
  height: 80vh;
  width: 200px;
  background-color: #c9ddee;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;

}

.posts{
  height: 80vh;
  background-color: #325d83;
  margin-bottom: 20px;
  
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}
.footer {
  height: 100px;
  background-color: #1e88e5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}
li {
  list-style-type: none;
  margin-bottom: 10px;
  text-decoration: none;
  border-bottom: none;
}
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
}
img{
  
  padding: 10px 25px;
}

h3 {
  padding: 5px 25px;
  
}
h2{
  padding: 5px 25px;
}
h4{
  padding: 5px 25px;
}